################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Logic/bin/Debug/net8.0
/Logic/obj
/ZipDemo/bin/Debug/net8.0
/ZipDemo/obj
/Logic/bin/Debug/net9.0
/TaskWhenEach/bin/Debug/net9.0
/TaskWhenEach/obj
/JsonSchemaExporter/bin/Debug/net9.0
/JsonSchemaExporter/obj
/Randomness/bin/Debug/net8.0
/Randomness/obj
